@font-face {
  font-family: "Opun";
  src: url(../fonts/Opun\ Mai\ Regular.ttf);
}

@font-face {
  font-family: "Opun-Medium";
  src: url(../fonts/Opun\ Mai\ Medium.ttf);
}

@font-face {
  font-family: "Opun-Black";
  src: url(../fonts/Opun\ Mai\ Black.ttf);
}

@font-face {
  font-family: "Opun-Extra-Bold";
  src: url(../fonts/Opun\ Mai\ ExtraBold.ttf);
}

body {
  font-family: "Opun-Medium";
  background-color: #fff;
}

.navbar {
  border-bottom: 1px solid #33333300;
  box-shadow: 1px 0 10px #33333317;
}

.navbar .navbar-toggler {
  border: none;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}

/* landing page */

.landing-page {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.landing-page h1 {
  font-size: 3.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  color: #363333;
  padding-top: 4rem;
  text-shadow: 1px 1px 2px #3333338c;
}

.landing-page p {
  margin-top: 2rem;
}

.landing-page .animation lottie-player {
  width: 30rem;
}

/* halaman dua */
.page-two {
  margin-bottom: 4rem;
}

.page-two lottie-player {
  width: 30rem;
}

.page-two p {
  text-align: justify;
}

/* Keunggulan */
.keunggulan .card {
  margin-bottom: 1rem;
  border: none;
}

.keunggulan .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.keunggulan .card .card-body i {
  font-size: 3rem;
}

.keunggulan .card .card-body .i-satu {
  color: rgb(63, 63, 150);
}

.keunggulan .card .card-body .i-dua {
  color: rgb(231, 144, 30);
}

.keunggulan .card .card-body .i-tiga {
  color: rgb(221, 72, 97);
}

.keunggulan .card .card-body .i-empat {
  color: green;
}

.keunggulan .card .card-body h5 {
  font-family: "Opun-Medium";
  padding: 0.6rem 0;
}

.keunggulan .card .card-body p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

/* get it */
.get-it {
  margin-top: 2rem;
}

.get-it .gambar {
  width: 80%;
}

.get-it lottie-player {
  width: 30rem;
}

/* footer */
footer {
  border-top: 1px solid #33333317;
}

footer h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 1000;
}

footer p {
  font-size: 0.8rem;
}

/* media queries */
@media only screen and (min-width: 64em) {
  .landing-page {
    display: flex;
    flex-direction: row;
  }

  .landing-page .teks {
    width: 37rem;
    margin-right: 3rem;
  }
}

@media only screen and (max-width: 63em) {
  .landing-page {
    height: auto;
  }

  .landing-page .teks {
    width: 90%;
    margin-top: 3rem;
  }

  .page-two .twoo {
    width: 90%;
  }

  .page-two p {
    text-align: justify;
  }
}

@media only screen and (min-width: 20em) {
  .landing-page .animation lottie-player {
    width: 90%;
    margin-bottom: 3rem;
  }
}
